
.resume__container{
    position: absolute;
    right: 20px;
    top: 75px;
    left: 55svw;
}

.off-screen-right{
    transform: translateX(120%);
    transition: transform 500ms linear;
    display: none;
}

.on-screen {
    transform: translateX(0%);
    transition: transform 300ms ease-in;
}


.resume__container-divider{
    color: black;
    text-decoration: underline;
    text-align: left;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.experience{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    gap: 10px;

    & p:first-child {
        color: black;
    }

    & p {
        margin-bottom: 5px;
        margin-top: 0;
    }

    & p:last-child {
        text-align: end;
        margin-right: 20px;
    }

}

.education{
    display: grid;
    grid-template-columns: 20% 65% 15%;
    gap: 10px;

    & p {
        margin-bottom: 5px;
        margin-top: 0;
    }

    & p:first-child {
        color: black;
    }

    & p:last-child {
        text-align: end;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .resume__container{
        position: absolute;
        margin: 0 auto;
        left: 10px;
        max-height: 60vh;
        max-width: 80svw;
        overflow-y: scroll;
    }

    .experience, .education{
        & p:last-child{
            display: none;
        }
    }

    .experience > p:first-child{
        color: black;
    }

    .education > p:first-child{
        color: black;
    }


}