
.resume__container{
    position: absolute;
    right: 10px;
    top: 75px;
    left: 55svw;

    & p {
        margin-top: 2px;
    }

    & .intro {
        text-transform: uppercase;
        font-size: 2rem;
    }
}


.off-screen-right{
    transform: translateX(120%);
    /* transition: transform 500ms linear;  */
    display: none;
}

.on-screen {
    transform: translateX(0%);
    /* transition: transform 300ms ease-in; */
}

.resume__container-divider{
    color: black;
    text-align: left;
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 10px;
}

@media (max-width: 1400px) {
    .resume__container-divider{
        font-size: 2.5rem;
    }
}


.experience{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    gap: 10px;

    & p:first-child {
        color: black;
    }

    & p {
        margin-bottom: 5px;
        margin-top: 0;
    }

    & p:last-child {
        text-align: end;
        margin-right: 20px;
    }

}

.education{
    display: grid;
    grid-template-columns: 20% 65% 15%;
    gap: 10px;

    & p {
        margin-bottom: 5px;
        margin-top: 0;
    }

    & p:first-child {
        color: black;
    }

    & p:last-child {
        text-align: end;
        margin-right: 20px;
    }
}

@media (max-width: 1600px) {
    .resume__container{
        top: 50px;

        & .intro {
            font-size: 1.5rem;
        }
    }

    .resume__container-divider {
        font-size: 1.5rem;
    }

}


@media only screen and (max-width: 600px) {

    .resume__container{
        overflow-x: clip;
        position: absolute;
        margin: 0 auto;
        top: 80px;
        left: 0;
        max-width: 100vw;
        overflow-y: scroll;
        padding: 0 10px;

        & .intro {
            text-transform: uppercase;
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
    }

    .resume__container-divider {
        font-size: 2em;
    }

    .experience, .education{
        grid-template-columns: 20% 80%;

        & p:last-child{
            display: none;
        }
    }

    .experience > p:first-child{
        color: black;
    }

    .education > p:first-child{
        color: black;
    }


}