@font-face {
    font-family: "Anthony";
    src: local("Anthony"), url("assets/fonts/Anthony.woff2") format("woff")
}

@font-face {
    font-family: "IBMPlexMono-Bold";
    src: local("IBMPlexMono-Bold"), url("assets/fonts/IBMPlexMono-Bold.otf") format("woff")
}

@font-face {
    font-family: "Basalte-Fond";
    src: local("Basalte-Fond"), url("assets/fonts/Basalte-Fond.woff") format("woff")
}

@font-face {
    font-family: "Ruda-VariableFont";
    src: local("Ruda-VariableFont"), url("assets/fonts/Ruda-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: "Qaundo-Regular";
    src: local("Quando-Regular"), url("assets/fonts/Quando-Regular.ttf")
}

body {
    background: white;
    font-family: Ruda-VariableFont, serif;
}

p {
    font-size: 1em;
    font-weight: 100;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid orange;
}

.inactive{
    text-decoration: line-through;
    :hover {
        border-bottom:none
    }
}

header {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header > div {
    display: flex;
    flex-flow: row;
    justify-content: end;
    gap: 20px;
}

.typo_header {
    font-family: "Basalte-Fond" ,serif;
    font-size: 1.8em;
    font-weight: 100;
}

header > .right {
    text-align: end;
    & h1 {
        font-family: Ruda-VariableFont;
        font-size: 1em;
    };
}

footer {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.box__small {
    padding: 0 10px;
    max-width: 400px;
}

.fonts {
    display: flex;
    flex-flow: row;
    gap: 10px;
    & p {
        margin: 1px;
    }
}

.fonts > div {
    display: flex;
    flex-flow: column;
    & p {
        margin: 1px;
    }
}

.not-yet{
    cursor: wait;
}

.pillar__container{
    position: absolute;
    top:0;
    left: 50vw;
    transform: translateX(-50%);
    bottom:0;
    z-index: -10000;
}