@font-face {
    font-family: "Anthony";
    src: local("Anthony"), url("./assets/fonts/Anthony.woff2") format("woff")
}

@font-face {
    font-family: "Ruda-VariableFont";
    src: local("Ruda-VariableFont"), url("./assets/fonts/Ruda-VariableFont_wght.ttf") format("ttf");
}

body {
    background: #f1f1f1;
    font-family: Ruda-VariableFont, serif;
}

p {
    font-size: 0.7em;
    font-weight: 100;
}

a:hover {
    border-bottom: 1px solid black;
    cursor: grab;
}

header {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header > div {
    display: flex;
    flex-flow: row;
    justify-content: end;
    gap: 20px;
}

.typo_header {
    font-family: "Anthony" ,serif;
    font-size: 1em;
    font-weight: 100;
}

header > .right {
    text-align: end;
    & h1 {
        font-family: Ruda-VariableFont;
        font-size: 0.8em;
    };
}

.box__small {
    padding: 0 10px;
    max-width: 400px;
}